.header-layout {
    background-color: blueviolet;
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

.footer-layout {
    background-color: rgb(96, 38, 151);
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

.about-layout {
    text-align: center;
}

